@model IEnumerable<WebTinTuc.ViewModels.MemberBirthdayGroup>
@{
    ViewBag.Title = "Member group";
}

<h2>Member Group</h2>

<table>
    <tr>
        <th>
            Member Birthday
        </th>
        <th>
            Members
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberBirthday)
            </td>
            <td>
                @item.MemberCount
            </td>
        </tr>
    }
</table>